# ------------------------------
# OS
# ------------------------------
.DS_Store

# ------------------------------
# IDEs
# ------------------------------
.idea/
.vscode/
*.iml

# ------------------------------
# Flutter / Dart
# ------------------------------
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# ------------------------------
# Firebase
# ------------------------------
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# ------------------------------
# Environment / secrets
# ------------------------------
.env
.env.*

# ------------------------------
# Android / iOS generated
# ------------------------------
android/.gradle/
ios/Pods/
ios/.symlinks/

# ------------------------------
# Logs
# ------------------------------
*.log